<table width="100%">
  <tr>
    <td class="content">
      <h3>Hello <%= fullname %>,</h3>
      <p>
        You recently requested to reset the password for your account. Click the button below to proceed.
      </p>
    </td>
  </tr>
  
  <tr>
    <td class="content cta">
      <p style="padding-bottom: 9px;">
        If you’re unable to click the button, copy and
        paste the URL below into your web browser:
      </p>
      <a href="<%= resetPasswordUrl %>" class="btn">Click Here</a>
      <p><%= resetPasswordUrl %></p>
    </td>
  </tr>

  <tr>
    <td class="content cta">
      <p>
        If you did not request a password reset, please ignore this email or reply to let us know. This password reset link is only valid for the next 30 minutes.
      </p>
    </td>
  </tr>
</table>